/* ./public/style.css */
* {
  box-sizing: border-box;
  transition: all .3s ease;
}

html, body {
  text-shadow: 2.1px 2.1px 10px #000000;
  background: #7a7a7a;
    background-image: linear-gradient(to right,#757575, #404040);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans, sans-serif;
}

h1, .user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
}

.user-count {
  float: right;
  padding: 20px 0;
}


.chat p {
  margin: 0 0 5px 0;
}

input, button #rcorners1 {
  border-radius: 10px;
  padding: 20px; 
  width: 200px;
  height: 29px; 
  box-shadow: 10px 10px;
  width: 100%;
  font: inherit;
  background: #ffffff;
    background-image: radial-gradient(circle, #ffffff, #bababa, #858585);
  border: #000000;
  margin-top: 10px;
  padding: 5px 10px;


button:hover {
  cursor: pointer;
  background: #ffffff;
}

@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}
. {
  position: absolute;
  top: 15px;
  left: 568px;a
  width: 120px;a
  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

}
